<body>
<div class="board">
  <h1 class="white-text"><strong>Billboards!</strong></h1>
  <ul>
    <% @billboards.each do |billboard| %>
    <li><%= link_to billboard.name, billboard_path(billboard.id), class: "white-text" %></li>
    <% end %>
  </ul>
</div>
</body>


